$background-color: rgba(10, 10, 10, 0.466);

:host {

  body {
    background: $background-color;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
  }

}
